<!-- Scripts -->
<script src="/js/all.js"></script>
<script src="/js/fullpage.js"></script>
<script src="/js/bootstrap.js"></script>

<script>
    new fullpage('#fullpage', {

    });
    // new fullpage('#fullpage', {
    //     navigation: true,
    //     responsiveWidth: 700,
    //     parallax: true,
    //     scrollbars: false,

    // });


</script>
</body>

</html>