<!-- header section starts  -->

<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="/" class="logo">flower<span>.</span></a>

    <nav class="navbar">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/product/getproduct">products</a>

        <a href="/contact">contact</a>
    </nav>

    <div>
        <a href="/user/account#register" class="btn">Register</a>
        <a href="/user/account" class="btn">Login</a>
    </div>

</header>

<!-- header section ends -->