<!-- Scripts -->
<script src="/js/all.js"></script>

<script src="/js/script.js"></script>

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/product/getproduct">products</a>

            <a href="/contact">contact</a>
        </div>

        <!-- <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my favorite</a>
        </div> -->

        <div class="box">
            <h3>locations</h3>
            <a href="#">Maharashtra, Nanded, india</a>
            <a href="#">Maharashtra, Parbhani, india</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">myflowershop@gmail.com</a>
            <a href="#">Nanded, india - 400104</a>
            <img src="images/payment.png" alt="">
        </div>

    </div>



</section>

<!-- footer section ends -->
</body>

</html>