<div class="section">

    <div class="container">
        <h1>Hello this is index Page </h1>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/user/account" class="btn btn-secondary">login</a>
        <a href="/user/account#register" class="btn btn-danger">Register</a>
        <a href="/user/dashboard" class="btn btn-danger">Dashboard Admin</a>
    </div>
</div>
<div class="section">
    <div class="container">
        <h1>Product </h1>
        <a class="btn btn-danger" href="/product/getproduct">
            <i class="fa-solid fa-border-all"></i> All Products </a>
        <a class="btn btn-danger" href="/product/orderpage">
            <i class="fa-solid fa-flower"></i> Order </a>
    </div>
</div>