<!-- <div class="section">

    <div class="container">
        <h1>Hello this is index Page </h1>
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/user/account" class="btn btn-secondary">login</a>
        <a href="/user/account#register" class="btn btn-danger">Register</a>
        <a href="/user/dashboard" class="btn btn-danger">Dashboard Admin</a>
    </div>
</div>
<div class="section">
    <div class="container">
        <h1>Product </h1>
        <a class="btn btn-danger" href="/product/getproduct">
            <i class="fa-solid fa-border-all"></i> All Products </a>
        <a class="btn btn-danger" href="/product/orderpage">
            <i class="fa-solid fa-flower"></i> Order </a>
    </div>
</div> -->




<!-- home -->

<section class="home" id="home">

    <div class="content">
        <h3>fresh flowers</h3>
        <span> natural & beautiful flowers </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum ut minus corrupti dolorum dolore
            assumenda iste voluptate dolorem pariatur.</p>
        <a href="/product/getproduct" class="btn">shop now</a>
    </div>

</section>