<div class="section">
    <div class="container">
        <h1>Order Details</h1>
        <table>
            <thead>
                <tr>
                    <th>1</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, explicabo.</td>
                    <td>100 rs</td>
                    <td>10 pices</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>